/* MOBILE */
@media (max-width:767px){
.partners-list-item{
    margin: 0 auto;
    margin-bottom: 30px;
}

}

@media (min-width: 768px){
.site-navigation{
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    height: auto;
}    
.main-title{
    margin-bottom: 30px;
}

.item-01{
    order: 1;
}
.item-02{
    order: 3;
}
.item-03{
    order: 2;
}
.item-04{
    order: 4;
}

}

/* TABLET */
/* @media (min-width: 768px) and (max-width: 1439px) */
@media (min-width: 768px) and (max-width: 939px){
    .container{
        width: 492px;
    }


    .header-link,
    .partners-link{
        width: 225px;
    }


    .header-content{
        padding: 80px 0;
    }

    .partners-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .partners-list-item{
        width: 47.9674%;
    }

    .partners-list-item:nth-child(2n+1){
        margin-bottom: 60px;
    }
    .partners-list-item:nth-child(2n){
        margin-bottom: 40px;
    }
}

/* DESKTOP */
/* @media (min-width: 1440px) */
@media (min-width: 940px) {

.container{
    width: 920px;
}


.header-title{
    font-size: 52px;
    line-height: 62px;
}

.header-subtitle{
    font-size: 24px;
    line-height: 28px;
}

.site-navigation{
    flex-direction: row;
    justify-content: space-between;
    height: auto;
}

.header-content{
    padding: 80px 0;
}



.partners-list{
    display: flex;
    flex-grow: 1;
    padding-bottom: 40px;
}

.partners-list-item{
    width: 23.6170%;
}

.partners-list-item:not(:last-child){
    margin-right: 20px;
}
}